body
{
    background: url("img/Background.jpg");
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
    padding-top: 40px;
}
h1
{
  font-family: "Times New Roman", Times, serif;
}
