body
{
    background: url("img/Background.jpg");
    background-size: 1600px 1000px;
    background-repeat: no-repeat;
    padding-top: 60px;
}
h1
{
  font-family: "Times New Roman", Times, serif;
}
nav
{

}
.navbar-inner {
    background:transparent;
    border-bottom: 0px solid #ccc
}
.jumbotron {
   background: rgb(0, 0, 0); /* This is for ie8 and below */
   background: rgba(0, 0, 0, 0.5);
}
div.scroll {
    height: 150px;
    overflow: scroll;
}
